.card-container {
  width: 200px;
  height: auto;
  border: solid 2px rgb(219, 125, 125);
  padding: 15px;
  margin: 10px;
}
.card-container img {
  object-fit: cover;
  width: 160px;
  height: 350px;
  border-radius: 5px;
}
