.user-info-card {
  width: 400px;
  height: auto;
  border: solid 2px rgb(219, 125, 125);
  padding: 15px;
  margin: 30px;
  justify-content: space-evenly;
}
.user-info-card img {
  object-fit: cover;
  width: 300px;
  height: 200px;
  border-radius: 5px;
}
